@import '../../theme/variables';

.page-title {
    width: 100%;

    @include breakpoint($medium) {
        align-items: flex-start;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        margin: 0 auto 2rem 0;
    }

    @include breakpoint($large) {
        margin: 0 auto 3rem 0;
    }

    .action-container {
        width: 100%;

        @include breakpoint($medium) {
            display: flex;
            justify-content: flex-end;
        }

        & > button {
            width: 100%;

            @include breakpoint($medium) {
                margin-left: 1.5rem;
                max-width: 16rem;
            }
        }
    }

    .headings-container {
        width: 100%;

        @include breakpoint($medium) {
            white-space: nowrap;
        }
    }

    .title {
        color: $skog;

        @include breakpoint($medium) {
            margin-bottom: 1rem;
        }
    }

    .subtitle {
        color: $slate;
        font-size: 1rem;
    }
}
