@import '../../theme/variables';

.flex-wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    margin-top: 1.5rem;

    @include breakpoint($medium) {
        flex-flow: row nowrap;
        margin-top: 0;
    }
}

.page-layout {
    padding: 1rem;

    @include breakpoint($medium) {
        display: flex;
        flex-flow: column nowrap;
        margin: 0 auto;
        max-width: calc(#{$max-width} - 4rem);
        padding: 2rem 2rem 0 2rem;
    }

    @include breakpoint($large) {
        padding: 4rem 2rem 0 2rem;
    }

    @include breakpoint($max-width) {
        max-width: calc(#{$max-width} - 2rem);
        padding: 4rem 1rem 0 1rem;
    }
}
