@import '../../theme/variables';

.floors-tabs-list {
    display: flex;
    flex-flow: column nowrap;
    height: fit-content;

    @include breakpoint($medium) {
        border: 1px solid $grey-border;
        border-radius: 0.5rem;
        max-width: 10rem;
        min-width: 10rem;
        padding: 0.5rem;
        width: 10rem;
    }

    @include breakpoint($large) {
        max-width: 14.5rem;
        min-width: 14.5rem;
        padding: 1rem;
        width: 14.5rem;
    }

    & > .tab.bp3-button {
        background-color: $grey-light;
        background-image: none;
        box-shadow: none;
        color: $black;
        font-weight: 500;

        &:not(:last-child) {
            margin-bottom: 0.75rem;
        }

        &.active {
            background-color: $swan-down;
            color: $skog;
            font-weight: 700;
        }

        & > .bp3-button-text {
            align-items: center;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            width: 100%;
        }
    }

    .heading {
        color: $black;
        font-size: 1rem;
        font-weight: 500;
        margin-bottom: 1rem;
    }

    .availability-wrapper {
        align-items: center;
        display: flex;

        .icon {
            margin-left: 0.5rem;
            width: 1.1rem;
        }
    }
}
