@import '../../theme/variables';

.mobile-top-bar {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .icon {
        fill: $black;
        height: auto;
        width: 1.5rem;
    }
}
